#container {
    margin: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#game_details {
    display: flex;
    flex-wrap: wrap;
}
#left_column {
    flex: 0 0 50%;
    padding: 20px;

}
#right_column {
    flex: 0 0 50%;
    padding: 20px;
    color: white;
    border-width: 0 0 0 2px;
    border-image: linear-gradient(to bottom, transparent, white 50%, transparent) 1;
    border-image-slice: 1;
    border-style: solid;

}
#game_image{
    display: flex;
    align-items: center;
    justify-content: center;
}
#game_image img {
    width: 50%;
    height: 50%;
}
#synopsis {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

#synopsis h2{
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
}
#synopsis p{
    color: #d8d8d8;
}
#game_info {
    margin-bottom: 20px;
}
#game_name {
    color: whitesmoke;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}
#year, #genre, #publisher, #platform{
    margin-bottom: 10px;
}
#price{
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
}
.buy_button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy_button button {
    background: rgb(0, 189, 174);
    background: linear-gradient(90deg, rgba(0, 189, 174, 1) 0%, rgba(0, 79, 196, 1) 100%);
    background-size: 200% 200%;
    animation: movimiento 10s ease infinite;
    color: #fff;
    border: none;
    margin-top: 20px;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    border: #c8ffff 2px solid;
} 
.buy_button button:hover {
    filter: brightness(1.1);
}
#offers_container{
    margin-top: 10px;
}
#offers_container h4{
    color: whitesmoke;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}
.offer-card {
    display: flex;
    flex-wrap: wrap;
    background: rgb(29, 129, 0);
    background: linear-gradient(90deg, rgba(29, 129, 0, 1) 0%, rgba(183, 184, 0, 1) 100%);
    background-size: 200% 200%;
    animation: movimiento 10s ease infinite;
    margin-top: 20px;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    border: #ffffff 2px solid;
    justify-content: space-between;
    align-items: center;
  }
  
  .seller {
    color: #fff;
    flex-grow: 1;
    font-weight: normal;
    font-size: 30px;
  }
  
  .price {
    color: #fff;
    white-space: nowrap;
    font-weight: bold;
    font-size: 40px;
  }
.offer-card:hover {
    filter: brightness(1.1);
}

#buy_message{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    color: rgb(255, 230, 0);
    font-size: 40px;
}
@media (max-width: 768px) {
    #game_details {
        flex-direction: column;
    }
    
    #left_column, #right_column {
        flex: auto;
    }
    #right_column{
        border-width: 0 0 0 0px;
    }
}
@keyframes movimiento {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}