.background{
    background-image: url('../../images/bg_1.jpg');
    background-size: cover;
}
.overlay{
    background-color: rgba(0,0,0,0.6);
}
.img{
    background-image: url('../../images/logo_back.png');
}
.wrap{
    background-color: #171A27;
}
.form-control{
    background: #24283B;
    color: #8f8f8f;
}
.form-group input:focus {
    background: #24283B;
    color: white;
  }
.fa{
    color: #5D5D5D;
}
#message_error{
    color: red; 
    font-size: medium; 
    display: none;
}
.heading-section{
    color: white;
}