{% extends "body_layout.html" %}
{% block title %}{% endblock %}
{% block styles%}
<link rel="stylesheet" href="../static/css/game/game.css">
<script src="static/js/videogame.js"></script>
{% endblock %}

{% block contenido %}
<div id="container">
    <div id="game_details">
        <div id="left_column">
        <div id="game_image">
            <img src="{{imagen}}" alt="Game Image">
        </div>
        <div id="synopsis">
            <h2>Sinopsis</h2>
            <p>{{sinopsis}}</p>
        </div>
        </div>
        <div id="right_column">
        <div id="game_info">
            <h1 id="game_name">{{nombre}}</h1>
            <div id="year">Año de lanzamiento: {{creado}}</div>
            <div id="genre">Género: {{genero}}</div>
            <div id="publisher">Editor: ROCKSTAR GAMES</div>
            <div id="platform">Plataforma: PC, Xbox, PlayStation</div>
            <!--><div id="price">S/ 190</div><!-->
        </div>
        <div id="buy_button">
            <button onclick="comprar(event)">Comprar ahora</button>
        </div>
        </div>
    </div>
</div>
<script src="../static/js/game/game.js"></script>
{% endblock %}
