{% extends "body_layout.html" %}
{% block title %}Compra los mejores juegos aquí{% endblock %}
{% block styles%}
<link rel="stylesheet" href="../static/css/index/slider_style.css">
<link rel="stylesheet" href="../static/css/index/slider_extra.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jssor-slider/27.1.0/jssor.slider.min.js'></script>
<script src="../static/js/index/slider_script.js"></script>
{% endblock %}

{% block contenido %}

<section class="wow fadeIn example no-padding no-transition slider-top"> 
    <div class="slider_wrapper">
    
    <div id="slider1_container">

        <div data-u="loading" class="jssorl-009-spin">
            <img class="load-ico" src="https://www.jssor.com/theme/svg/loading/static-svg/spin.svg" />
        </div>

        <div data-u="slides" class="slides-i">
            <div>
                <img data-u="image" src="https://images.pexels.com/photos/414191/pexels-photo-414191.jpeg"  class="slider" />
            </div>
            <div>
                <img data-u="image" src="https://images.pexels.com/photos/243415/pexels-photo-243415.jpeg" class="slider" />
            </div>
            <div>
                <img data-u="image" src="https://images.pexels.com/photos/350749/pexels-photo-350749.jpeg" class="slider" />
            </div>
        </div>
        
        <div data-u="navigator" class="jssorb031" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
            <div data-u="prototype" class="i">
                <svg viewBox="0 0 16000 16000" class="arrow-i1">
                    <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                </svg>
            </div>
        </div>

        <div data-u="arrowleft" class="jssora051" id="arrow1" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
            <svg viewBox="0 0 16000 16000" class="arrow-i1">
                <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
            </svg>
        </div>
        <div data-u="arrowright" class="jssora051" id="arrow2" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
            <svg viewBox="0 0 16000 16000" class="arrow-i1">
                <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
            </svg>
        </div>

    </div>
</div>
</section>

{% endblock %}
