{% extends "layout.html" %}

{% block title %}Inicia aquí y ahora{% endblock %}

{% block content %}
	<div class="background">
		<div class="overlay">
			<section class="ftco-section">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-6 text-center mb-5">
							<h2 class="heading-section">Unete a una nueva experiencia</h2>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-7 col-lg-5">
							<div class="wrap">
								<div class="img"></div>
								<div class="login-wrap p-4 p-md-5">
									<div class="d-flex">
										<div class="w-100">
											<h3 class="mb-4" id="message_error"></h3>
											<h3 class="mb-4" style="color: whitesmoke;">Iniciar sesión</h3>
										</div>
									</div>
									<form id="login_data" class="signin-form">
										<div class="form-group mt-3">
											<input type="text" class="form-control" name="email" id="email" required>
											<label class="form-control-placeholder" for="email">Correo electrónico</label>
										</div>
										<div class="form-group">
											<input id="password-field" type="password" class="form-control" name="password" required>
											<label class="form-control-placeholder" for="password-field">Contraseña</label>
											<span toggle="#password-field"
												class="fa fa-fw fa-eye field-icon toggle-password"></span>
										</div>
										<div class="form-group">
											<button type="submit" class="form-control btn btn-primary rounded submit px-3">
												¡Empezemos!
											</button>
										</div>
										<div class="form-group d-md-flex">
											<div class="w-100 text-md-flex">
												<a href="{{url_for('recover_password')}}" class="forgot">¿Olvidaste tu contraseña?</a>
											</div>
										</div>
									</form>
									<p class="text-center">¿Aún no eres miembro? <a data-toggle="tab"
											href="{{url_for('new_user')}}">Registrate aquí</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<script src="../static/js/login/funciones_login.js"></script>
{% endblock %}