<!doctype html>
<html class="no-js" lang="eng">
    <head>
        <meta charset="utf-8">
        <title>Profile</title>
        <link rel="stylesheet" href="../static/css/profile.css">
    </head>
    <body>
        <div id="general">
            <div id="information">
                <div id="name">
                    Nombre:
                </div>
                <div id="email">
                    Correo electrónico:
                </div>
                <div id="bio">
                    Bio:
                </div>
            </div>
            <div class="list_games">
                <h3>
                    Los videojuegos que has comprado son:
                </h3>
            </div>
        </div>
    </body>
</html>
