{% extends "body_layout.html" %}
{% block title %}Tus juegos{% endblock %}
{% block styles%}
<link rel="stylesheet" href="../static/css/purchases/purchases.css">
<script src="static/js/shared.js"></script>
<script src="static/js/purchases/purchases.js"></script>
{% endblock %}

{% block contenido %}

<h2 class="search_text_p" id="welcome_text"></h2>
<div class="main_container_games">
    <div class="container_games">
        <div class="item_game">
            <img src="https://i.blogs.es/2c9c70/gta-20v-20portada-20grande/450_1000.webp" alt="GTA V">
            <h2>GTA V</h2>
            <p>S/ 199</p>
            <p>Fecha de compra: </p>
        </div>
    </div>
</div>
<h3 class="search_results_counter" id = "counter_games"></h3>
{% endblock %}
