{% extends "layout.html" %}

{% block title %}Recupere su contraseña{% endblock %}

{% block content %}
	<div class="background">
		<div class="overlay">
			<section class="ftco-section">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-6 text-center mb-5">
							<h2 class="heading-section">Recupere su contraseña ahora</h2>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-7 col-lg-5">
							<div class="wrap">
								<div class="img"></div>
								<div class="login-wrap p-4 p-md-5">
									<div class="d-flex">
										<div class="w-100">
											<h3 class="mb-4" id="message_error"></h3>
											<h3 class="mb-4" style="color: whitesmoke;">Ingrese los datos de la cuenta a recuperar</h3>
										</div>
									</div>
									<form id="data_recover" class="signin-form">
										<div class="form-group mt-3">
											<input type="text" class="form-control" name="email" id="email" required>
											<label class="form-control-placeholder" for="email" id="text_email">Correo electrónico</label>
										</div>
										<div class="form-group mt-3">
											<input type="text" class="form-control" name="name" id="name" required>
											<label class="form-control-placeholder" for="name" id="text_name">Nombre(s)</label>
										</div>

										<div class="form-group" id="submit1">
											<button type="submit" class="form-control btn btn-primary rounded submit px-3">
												¡Me siento con suerte!
											</button>
										</div>
										<div class="form-group d-md-flex">
										</div>
									</form>
									<div class="d-flex">
										<div class="w-100">
											<h3 class="mb-4" id="message_error2"></h3>
											<h3 class="mb-4" id="text_change">Ahora puede cambiar su contraseña</h3>
										</div>
									</div>
									<form id="password_changer" class="signin-form">
										<div class="form-group">
											<input id="password-field1" type="password" class="form-control" name="password1" required>
											<label class="form-control-placeholder" for="password-field1">Nueva contraseña</label>
											<span toggle="#password-field1"
												class="fa fa-fw fa-eye field-icon toggle-password"></span>
										</div>
										<div class="form-group">
											<input id="password-field2" type="password" class="form-control" name="password2" required>
											<label class="form-control-placeholder" for="password-field2">Confirme la contraseña</label>
											<span toggle="#password-field2"
												class="fa fa-fw fa-eye field-icon toggle-password"></span>
										</div>
										<div class="form-group">
											<button type="submit" class="form-control btn btn-primary rounded submit px-3" id="submit2">
												¡Empezemos nuevamente!
											</button>
										</div>
									</form>

									<p class="text-center"><a data-toggle="tab"
											href="{{url_for('login')}}">🡸 Regresar al login</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<script src="../static/js/login/funciones_recover.js"></script>
{% endblock %}