{% extends "body_layout.html" %}
{% block title %}Gracias por comprar en la mejor página de videojuegos{% endblock %}
{% block styles%}
<link rel="stylesheet" href="../static/css/resume/resume.css">
<script src="static/js/resume.js"></script>
{% endblock %}

{% block contenido %}
<div class="wrapper_resume">
    <div class="container_resume">
        <h1>¡Gracias por tu compra!</h1>

        <div class="thank-you">
        <p>Hemos enviado una copia de la orden de compra a tu correo electrónico 	&#x1F60A;</p>
        </div>

        <div class="order-details">
        <div class="image" id="game_image"></div>
        <div class="info">
            <div class="title" id="game_title"></div>
            <div class="purchase-date" id="purchase_date"></div>
            <div class="order-id" id="order_id"></div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
