{% extends "body_layout.html" %}
{% block title %}Gracias por comprar en la mejor página de videojuegos{% endblock %}
{% block styles%}
<link rel="stylesheet" href="../static/css/resume/resume.css">
{% endblock %}

{% block contenido %}
<div class="wrapper_resume">
    <div class="container_resume">
        <h1>¡Gracias por tu compra!</h1>

        <div class="thank-you">
        <p>Hemos enviado una copia de la orden de compra a tu correo electrónico 	&#x1F60A;</p>
        </div>

        <div class="order-details">
        <div class="image">
            <img src="https://i.blogs.es/2c9c70/gta-20v-20portada-20grande/450_1000.webp" alt="Imagen del juego">
        </div>
        <div class="info">
            <div class="title">GTA V - PREMIUM EDITION</div>
            <div class="price">Precio: S/ 199</div>
            <div class="purchase-date">Fecha de compra: 13/05/2023</div>
            <div class="order-id">ID de compra: 212121-121x12x21-fdds</div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
