{% extends "body_layout.html" %}
{% block title %}Resultados de la busqueda{% endblock %}
{% block styles%}
<link rel="stylesheet" href="../static/css/search/search.css">
{% endblock %}
{% block nav_extra %}{%include 'navbar_search.html'%}{% endblock %}
{% block contenido %}

<h2 class="search_text_p" id="search_text_p"></h2>
<div class="main_container_games">
    <div class="container_games" id="container_games"></div>
</div>
<h3 class="search_results_counter" id="search_results_counter">Mostrando 10 resultados</h3>
<script src="../static/js/search/get_games.js"></script>
{% endblock %}