<!doctype html>
<html class="no-js" lang="eng">
    <head>
        <meta charset="utf-8">
        <title>Videogame</title>
        <link rel="stylesheet" href="../static/css/videogame.css">
    </head>
    <body>
        <h1 id="game_name">
            title
        </h1>
        <div id="general">
            <div id="left">
                <div class="image_wide">
                    image
                </div>
                <div id="synopsis">
                    Sinopsis:
                </div>
            </div>
            <div id="right">
                <div id="buy">
                    compra
                </div>
                <div id="details">
                    <div id="year">
                        Año de lanzamiento:
                    </div>
                    <div id="genre">
                        Géneros:
                    </div>
                    <div id="publisher">
                        Editor:
                    </div>
                    <div id="plataforma">
                        Plataforma:
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
