<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../static/logo/logo.png" />
    <link rel="stylesheet" href="../static/css/errors/401.css" />
    <link rel="stylesheet" href="../static/css/main_parts/background.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />
    <title>Acceso no autorizado</title>
  </head>
  <body>
    <div class="container">
      <div class="hero">
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
      </div>
      <div class="error-code">401</div>
      <div class="error-description">Ops! Autorización requerida 😥</div>
      <img
        class="error-image"
        src="https://cdn-icons-png.flaticon.com/512/5820/5820140.png"
        alt="Error Image"
      />
      <a class="login-button" href="/login">Regresar al inicio de sesión</a>
    </div>
  </body>
</html>
