{% extends "body_layout.html" %} {% block title %}Vende ahora y obten ganancias
de más del 90% {% endblock %} {%block styles%}
<link rel="stylesheet" href="../static/css/marketplace/upload_game.css" />

{% endblock %} {% block contenido %}

<div class="container_form_game">
  <h1>Vende tus juegos aqui y recibe hasta el 95% de tus ganancias 😁</h1>
  <form id="game_form_game" class="game_form_game">
    <div class="columna">
      <div class="form_group_game">
        <label for="name">NOMBRE DEL JUEGO</label>
        <input type="text" id="name" class="form_control_game" required />
      </div>
      <div class="form_group_game">
        <label for="genre">GÉNERO</label>
        <div class="custom-select">
          <select id="genre" class="form_control_game" required>
            <option value="" selected disabled hidden>
              Selecciona un género
            </option>
            <option value="Accion">Accion</option>
            <option value="Aventura">Aventura</option>
            <option value="Retro">Retro</option>
            <option value="Terror">Terror</option>
          </select>
        </div>
      </div>
      <div class="form_group_game">
        <label for="platforms">PLATAFORMAS</label>
        <div class="custom-select">
          <select id="platforms" class="form_control_game" required>
            <option value="" selected disabled hidden>
              Selecciona una plataforma
            </option>
            <option value="PC">PC</option>
            <option value="PlayStation">PlayStation</option>
            <option value="Xbox">Xbox</option>
            <option value="Nintendo Switch">Nintendo Switch</option>
          </select>
        </div>
      </div>
      <div class="form_group_game">
        <label for="price">PRECIO - S/</label>
        <input type="number" id="price" class="form_control_game" required />
      </div>
    </div>
    <div class="columna">
      <div class="form_group_game">
        <label for="release_date">FECHA DE LANZAMIENTO</label>
        <input
          type="date"
          id="release_year"
          class="form_control_game"
          required
        />
      </div>
      <div class="form_group_game">
        <label for="publisher">EDITOR</label>
        <div class="custom-select">
          <select id="publisher" class="form_control_game" required>
            <option value="" selected disabled hidden>
              Selecciona un editor
            </option>
            <option value="TAKE TWO INTERACTIVE">TAKE TWO INTERACTIVE</option>
            <option value="Xbox Game Studios">Xbox Game Studios</option>
            <option value="Valve">Valve</option>
            <option value="Ubisoft">Ubisoft</option>
          </select>
        </div>
      </div>
      <div class="form_group_game">
        <label for="synopsis">SINOPSIS (250 PALABRAS MÁXIMO)</label>
        <textarea id="synopsis" class="form_control_game" required></textarea>
      </div>
    </div>

    <div class="image-section">
      <div class="columna2">
        <div class="form_group_game">
          <label for="image_upload"></label>
          <input
            type="file"
            id="image_upload"
            accept="image/*"
            style="display: none"
            required
          />
          <button type="button" id="upload_button" class="custom-upload-btn">
            Seleccionar imagen
          </button>
        </div>
      </div>
      <div class="columna2">
        <div class="image-preview">
          <h3 id="prev">La vista previa de la imagen aparecera aquí 👇🏻</h3>
          <img id="preview-image" src="" />
        </div>
      </div>
      <h3 id="response">No se permite subir este tipo de archivos 😤</h3>
    </div>

    <div class="submit_button">
      <div class="form_group_game">
        <button type="submit" class="btn zoom-effect">Publicar ahora 😎</button>
      </div>
    </div>
  </form>
</div>

<script src="static/js/marketplace/upload_game.js"></script>
{% endblock %}
