{% extends "body_layout.html" %} {% block title %}Centro de ventas del usuario
{% endblock %} {%block styles%}
<link rel="stylesheet" href="../static/css/marketplace/update_game.css" />
{% endblock %} {% block contenido %}
<div class="main-container">
  <h1>
    Desde aquí podras administrar todos los juegos que has publicado hasta ahora
    🤑
  </h1>
  <div class="tabla">
    <table>
      <thead>
        <tr>
          <th>Imagen</th>
          <th>¿Vendido?</th>
          <th>Detalles</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="image-preview">
              <h3 id="prev">La vista previa de la imagen aparecera aquí 👇🏻</h3>
              <img id="preview-image" src="" />
            </div>
            <div class="image-section">
              <div class="form_group_game">
                <label for="image_upload"></label>
                <input
                  type="file"
                  id="image_upload"
                  accept="image/*"
                  style="display: none"
                  required
                />
                <button
                  type="button"
                  id="upload_button"
                  class="custom-upload-btn"
                >
                  Seleccionar imagen
                </button>
              </div>
            </div>
          </td>
          <td>
            <h2>Si</h2>
          </td>
          <td>
            <div class="form_group_game">
              <label for="name">NOMBRE DEL JUEGO</label>
              <input type="text" id="name" class="form_control_game" required />
            </div>
            <div class="form_group_game">
              <label for="price">PRECIO - S/</label>
              <input
                type="number"
                id="price"
                class="form_control_game"
                required
              />
            </div>
            <div class="form_group_game">
              <label for="genre">GÉNERO</label>
              <div class="custom-select">
                <select id="genre" class="form_control_game" required>
                  <option value="" selected disabled hidden>
                    Selecciona un género
                  </option>
                  <option value="Accion">Accion</option>
                  <option value="Aventura">Aventura</option>
                  <option value="Retro">Retro</option>
                  <option value="Terror">Terror</option>
                </select>
              </div>
            </div>
            <div class="form_group_game">
              <label for="platforms">PLATAFORMAS</label>
              <div class="custom-select">
                <select id="platforms" class="form_control_game" required>
                  <option value="" selected disabled hidden>
                    Selecciona una plataforma
                  </option>
                  <option value="PC">PC</option>
                  <option value="PlayStation">PlayStation</option>
                  <option value="Xbox">Xbox</option>
                  <option value="Nintendo Switch">Nintendo Switch</option>
                </select>
              </div>
            </div>
            <div class="form_group_game">
              <label for="release_date">FECHA DE LANZAMIENTO</label>
              <input
                type="date"
                id="release_year"
                class="form_control_game"
                required
              />
            </div>
            <div class="form_group_game">
              <label for="publisher">EDITOR</label>
              <div class="custom-select">
                <select id="publisher" class="form_control_game" required>
                  <option value="" selected disabled hidden>
                    Selecciona un editor
                  </option>
                  <option value="TAKE TWO INTERACTIVE">
                    TAKE TWO INTERACTIVE
                  </option>
                  <option value="Xbox Game Studios">Xbox Game Studios</option>
                  <option value="Valve">Valve</option>
                  <option value="Ubisoft">Ubisoft</option>
                </select>
              </div>
            </div>
            <div class="form_group_game">
              <label for="synopsis">SINOPSIS (250 PALABRAS MÁXIMO)</label>
              <textarea
                id="synopsis"
                class="form_control_game"
                required
              ></textarea>
            </div>
          </td>
          <td>
            <div class="buttons">
              <button id="update" onclick="updateRow(this)">Actualizar</button>
              <button id="delete" onclick="deleteRow(this)">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="info">
  <h3>Hasta ahora has publicado 5 juegos</h3>
  <h3>En total has recaudado: S/ 40.73</h3>
</div>
<script src="static/js/marketplace/update_game.js"></script>
{% endblock %}
