{% extends "body_layout.html" %}
{% block title %}Ya casi...{% endblock %}
{% block styles%}
<link rel="stylesheet" href="../static/css/wait/wait.css">
{% endblock %}

{% block contenido %}
<div class="contenedor">
    <h1>Ya casi completas tu compra. Espera un momento por favor...</h1>
    <div class="spinner-box">
        <div class="configure-border-1">  
        <div class="configure-core"></div>
        </div>  
        <div class="configure-border-2">
        <div class="configure-core"></div>
        </div> 
    </div>
</div>
<script src="../static/js/wait/wait.js"></script>
{% endblock %}
